html{
    height: 100%;
    background: radial-gradient(circle,#fff,#ccc);
}
#container{
    height: 500px;
    width: 650px;
    background-color: #9DD2EA;
    margin: 100px auto;
    padding: 35px;
    border-radius: 20px;
    box-shadow: 0px 5px 3px 0px #009DE4;
    position: relative;
}
#score{
    position: absolute;
    background-color: #F1FF92;
    color: #888E5F;
    padding: 11px;
    box-shadow: 0px 4px #9DA853;
    left: 630px;
}
#correct{
    position: absolute;
    background-color: #42e252;
    left: 350px;
    color: white;
    padding: 10px;
    display: none;
}
#wrong{
    position: absolute;
    background-color: #de401a;
    left: 350px;
    color: white;
    padding: 10px;
    display: none;
}
#question{
    width: 600px;
    height: 250px;
    background-color: #9DA0EA;
    margin: 50px auto 10px auto;
    box-shadow: 0px 4px 0px 0px #535AA8;
    border-radius: 10px;
    text-align: center;
    font-family: cursive , sans-serif;
    font-size: 150px;
    color: black;
}
#instruction{
    width: 600px;
    height: 60px;
    background-color: #B481D9;
    margin: 5px auto;
    color: black;
    font-size: 20px;
    text-align: center;
    line-height: 55px;
    box-shadow: 0px 4px 0px 0px #8153A8;
    border-radius: 10px;
}